<configuration>
   <system.serviceModel>
      <bindings>
         <webHttpBinding>
            <binding  name="CustomBinding" maxReceivedMessageSize="10485760">
               <security  mode="None">
                  <transport  clientCredentialType="None"/>
               </security>
               <readerQuotas  maxStringContentLength="10485760"/>
            </binding>
         </webHttpBinding>
         <basicHttpBinding>
            <binding  name="CustomBinding" maxReceivedMessageSize="10485760">
               <security  mode="None">
                  <transport  clientCredentialType="None"/>
               </security>
               <readerQuotas  maxStringContentLength="10485760"/>
            </binding>
            <binding  name="BasicMtomBinding" messageEncoding="Mtom">
               <security  mode="None">
                  <transport  clientCredentialType="None"/>
               </security>
            </binding>
         </basicHttpBinding>
         <customBinding >
            <binding  name="gxWsSoapBinding">
               <textMessageEncoding  messageVersion="Soap12WSAddressing10" writeEncoding="utf-8"/>
               <httpTransport />
            </binding>
         </customBinding>
      </bindings>
      <client  configSource="WCFClient.config"/>
      <behaviors>
         <endpointBehaviors>
            <behavior  name="gxCustomBehaviorConfig">
               <GxBehaviorExtension />
            </behavior>
         </endpointBehaviors>
      </behaviors>
      <extensions >
         <behaviorExtensions >
            <add  name="GxBehaviorExtension" type="GeneXus.Programs.GxBehaviorExtensionElement, GeneXus.Programs.Common, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            <add  name="GxServiceBehaviorExtension" type="GeneXus.Programs.GxServiceBehaviorExtensionElement, GeneXus.Programs.Common, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null"/>
         </behaviorExtensions>
      </extensions>
   </system.serviceModel>
</configuration>
